{:deps
 {djblue/portal {:mvn/version "0.40.0"}
  borkdude/carve
  {:git/url "https://github.com/borkdude/carve"
   :git/sha "9c11e4727bff22386899f048d1d50b7978d3ac9e"
   :exclusions [clj-kondo/clj-kondo]}
  me.tagaholic/dlint {:mvn/version "0.1.0"}
  io.lambdaforge/datalog-parser {:mvn/version "0.2.23"}}

 :aliases
 {:clj-kondo
  {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2023.05.18"}}
   :main-opts  ["-m" "clj-kondo.main"]}
  :outdated
  {:replace-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core" "--exclude" "com.github.liquidz/antq"]}}}
