{:deps
 {djblue/portal {:mvn/version "0.30.0"}
  borkdude/carve
  {:git/url "https://github.com/borkdude/carve"
   :git/sha "889925fd77ac4683516d6b594d2cb5bd2d899b13"
   :exclusions [clj-kondo/clj-kondo]}
  ;; needed by carve
  org.babashka/spec.alpha
  {:git/url "https://github.com/babashka/spec.alpha"
   :git/sha "8df0712896f596680da7a32ae44bb000b7e45e68"}
  me.tagaholic/dlint {:mvn/version "0.1.0"}
  io.lambdaforge/datalog-parser {:mvn/version "0.1.11"}}

 :aliases
 {:clj-kondo
  {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2022.09.08"}}
   :main-opts  ["-m" "clj-kondo.main"]}
  :outdated
  {:replace-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core" "--exclude" "com.github.liquidz/antq"]}}}
